.services_container{
    padding:0.9em 0;

    .service_content{
        @include grid(3);
        gap:2em;
        margin: 0.5em 0 0 0;

        .service_items{
            padding:0.9em 0.9em;
            border:1px solid $accent-color;
            border-radius: 16px;

            img{
                width: 100%;
                height: 35vh;
                border-radius:24px;
            }
            p,h3,span{
                padding:0.3em 0.5em;
            }
            span{
                color:#0ff40f;
            }

            .btn{
                padding:0.3em 0.5em;
                button{
                    padding:0.8em 2em;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media screen and  (width <= 726px) {
   .services_container{
        p,span,h3{
            font-size: 1.3em;
        }
   }
}